*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: italic;
}

body{
    background-image: url('background.jpg');
}

.container{
    width: 400px;
    background: #4f3563;
    padding: 30px;
    font-size: 19px;
    margin: auto;
    margin-top: 230px;
    border-radius: 14px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 14px 32px #000;
    text-align: center;
}
